<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="/public/css/base.css" type="text/css">
    <link rel="stylesheet" href="/public/css/index.css" type="text/css">
    <link rel="stylesheet" href="/public/css/home.css" type="text/css">
    <link rel="stylesheet" href="/public/css/login.css" type="text/css">
    
    <!-- <link rel="stylesheet" href="/views/assets/style.css" type="text/css"> -->
</head>
<body>
    before
    <br>
<%- body %>
<br>
after
</body>
</html>